# Environment folders
.DS_Store
.vscode
node_modules

# Jekyll specific folders and files
.sass-cache
.jekyll-metadata
_site/
_drafts/things-to-do.markdown
Gemfile.lock

# Special post specific files to be excluded
assets/status-processor.js
